/* client/src/components/SignUp/signUp.tsx */
.signUp-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signUp-logo {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  height: auto;
}

.signUp-title {
  color: #4caf50;
  font-size: 30px;
  margin-bottom: 5px;
  position: relative;
}

.signUp-input {
  width: 95%;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signUp-input:focus {
  outline: none;
  border: 2px solid #2be931;
}

.signUp-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.signUp-btn {
  flex: 1;
  margin: 0 5px;
  padding: 17px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.signUp-btn.primary {
  background: #4caf50;
  color: #fff;
}

.signUp-btn.primary:hover {
  background: #3f8243;
}

.signUp-btn.secondary {
  background: #eee;
  color: #666;
}

.signUp-btn.secondary:hover {
  background: #ddd;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
