/* client/src/components/Login/login.css */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  height: auto;
}

.login-title {
  color: #4caf50;
  font-size: 30px;
  margin-bottom: 20px;
  position: relative;
}

.login-description {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.login-input {
  width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-input:focus {
  outline: none;
  border: 2px solid #2be931;
}

.login-btn {
  background: #4caf50;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-btn:hover {
  background: #3f8243;
}

/* Sign up text */
.signup-text {
  font-size: 17px;
  color: #666;
}

.signup-text a {
  color: #4caf50;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
